.login-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 6rem;
}

.login-card {
	width: 400px;
	padding: 2rem;
	text-align: center;
	border-radius: 16px;
}

.full-width {
	width: 100%;
	margin-bottom: 1rem;
}

.server-error {
	margin-top: 1rem;
	text-align: center;
}